.radio {
    display: flex;
    margin-bottom: 1.6rem;
    margin-right: 2.4rem;
    align-items: center;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    &__title {
        color: white;
    }

    &__elem {
        display: none;        
        &:checked ~ .radio__visible::before {
            display: block;
        }
    }

    &__visible {
        margin-right: 1.0rem;
        width: 2.6rem;
        height: 2.6rem;
        position: relative;
        border-radius: 50%;
        background: white;   
        &:before {
            content: "";
            width: 1.4rem;
            height: 1.4rem;
            background: $red;
            border-radius: 50%;
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--checkbox {
        margin-bottom: 4.8rem;
        .radio__visible {
            border-radius: 0;
            &::before{
                background: url('../images/checkmark2.png') center center no-repeat;
            }
        }
    }
}