@mixin form__input {
    display: block;
    border: none;
    padding: 17px 11px;
    border-radius: 4px;
    border: solid 3px transparent;
    &:focus {
        border: solid 3px $red;
        outline: none;
    }
 }

.order {
    background: url('../images/form-bg.png');
    background-size: cover;
    &__title {
        margin-bottom: 60px;
        text-align: center;
    }
    &::before {
        content: url('../images/5angle.png');
        position: absolute;
        right: 10%;
        top: -20px;
    }
}


.form {
    display: flex;
    &__title {
        color: white;
        margin-bottom: 6px;
    }    
    &__col {
        flex: 1;
        margin-right: 26px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__row {
        display: flex;
        margin-bottom: 10px;
    }
    &__block {
        flex: 1;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__input {
        @include form__input;
        width: 100%;
    }
    &__input--textarea {
        @include form__input;
        height: 152px;
        resize: none;
        margin-bottom: 26px;
    }
    &__controls {
        display: flex;
        flex-wrap: wrap;
    }
    &__btn {
        display: flex;
    }
}












