.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-second;
    font-size: 1.8rem;
    margin-bottom: 10.6rem;

}

.menu {    
    margin: 0 rem(30px);
    align-self: flex-start;
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: rem(3px);
    }
    &__item {
        margin-right: 2.7rem;
        margin-top: rem(10px);        
        &:last-child {
            margin-right: .0rem;
        }
    }

    @include tablets {
        display: none;
    }
}

.contacts {
    font-family: $font;    
    &__phone {
        font-style: normal;
        text-decoration: none;     
        display: flex;  
        &::before { 
            content: url(../images/phone.png);
            display: inline-block;
            width: 1.4rem;
            height: 1.4rem;
            margin-right: .6rem;
            flex-shrink: 0;
        }
    }
}

.header__contacts {
    @include tablets {
        display: none;
    }
}

.logo {
    flex-shrink: 0;
}
