.hero {    
    background: url('../images/grey-bg.png');
    padding: 24px 0 45px;
    &::after {
        content: url('../images/decor.png');
        position: absolute;
        right: 25%;
        bottom: -20px;
    }
}

.container__hero{
    background: url('../images/earphones-main.png') right 0% center no-repeat;
    justify-content: space-between;
    height: 100%;
}

.hero__content {
    max-width: 35%;          
    
    .hero__title {
        margin-bottom: 22px;            
    }    
    
    .hero__text {
        margin-bottom: 36px;
        font-family: $font-second;
        font-size: 21px;
        line-height: 25px;
    }
}

.title {
    font-family: $font;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    text-transform: uppercase;
    color: $black;   
    &--white {
        color: white;
    } 
}   