.hero {    
    background: url('../images/earphones-main.png') right 20% center no-repeat;
    background-size: 35%;
    background-color: $grey;
    padding: 2.4rem 0 4.5rem;
    position: relative;

    &::after {
        content: url('../images/decor.png');
        position: absolute;
        right: 25%;
        bottom: -2.0rem;
    }
   
    @include tablets {
        background-size: 40%;
        background-position: top 20% center;
    }

    @include phones {
        background-size: 70%;
    }
}

.container__hero{
    justify-content: space-between;
    height: 100%;
}

.hero__content {
    max-width: 35%;    

    .hero__title {
        margin-bottom: 2.2rem;      
        
        @include tablets {
            padding-top: 50%;
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: rem(5px);
        }

        @include phones {
            padding-left: 15%;
            padding-right: 15%;
        }
    }    
    .hero__text {
        margin-bottom: 3.6rem;
        font-family: $font-second;
        font-size: 2.1rem;
        line-height: 2.5rem;

        @include tablets {
            padding: 0 25%;
            margin-bottom: rem(24px);
        }

        @include phones {
            padding: 0 10%;
            margin-bottom: rem(24px);
        }
    }
    
    @include tablets {
        max-width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}