.bx-wrapper {
    box-shadow: none;
    border: 0;
    background: transparent;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
  }


.arrow {
    font-size: 30px;
    font-weight: 2px;

    @include tablets {
        top: 20%;
    }

    &--left {
        position: absolute;
        left: 0;
        
        @include tablets {
            left: 15%;
        }
        @include phones {
            left: 2%;
        }
    }
    
    &--right {
        position: absolute;
        right: 0;

        @include tablets {
            right: 15%;
        }
        @include phones {
            right: 2%;
        }
    }
}

.slider {
    background-color: $grey;
    position: relative;

    &::after {
        content: url('../images/slider-decor.png');
        position: absolute;
        bottom: -20px;
        right: 15%;
        z-index: 10;
    }
    
    &__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        
        @include tablets {
            flex-direction: column;
        }
    }
    
    &__item {
        display: flex;
        align-items: center;
        width: 93%;
        overflow: hidden;
        margin: 0 auto;

        @include tablets {
            flex-direction: column;
        }
    }

    &__left-col {
        margin-right: rem(59px);
        padding-left: 3%;

        @include tablets {
            margin-right: 0;
        }
    }

    &__right-col {
        padding-right: 3%;
    }

    &__photo1 {
        display: block;
        width: rem(1000px);

        @include tablets {
            width: rem(250px);
            margin-bottom: rem(50px);
        }
    }

    &__title {
        margin-bottom: rem(24px);
        font-size: 36px;
        line-height: 41.5px;

        @include tablets {
            margin-bottom: rem(14px);
            text-align: center;
            font-size: 28px;
            line-height: 32px;
        }
    }
    
    &__text {
        margin-bottom: rem(27px);
        font-size: 16px;
        line-height: 18.5px;

        @include tablets {
            text-align: center;
            font-size: 16px;
            bottom: rem(27px);
        }
    }

    &__price {
        font-size: 36px;
        margin-right: rem(13px);

        @include tablets {
            font-size: 40px;
        }
        @include phones {
            font-size: 32px;
        }
    }
}

.offer {
    @include tablets {
        justify-content: center;
    }
}

.offer .slider__button {
    margin-bottom: 0;
}

.attributes__list {
    display: flex;
    margin-bottom: rem(24px);

    @include tablets {
        justify-content: center;
    }
}

.attributes__item {
    margin-right: rem(75px);

    &:last-child {
        margin-right: 0;
    }
}

.attributes__item-desc {
    font-weight: bold;
}

.offer {
    display: flex;
    align-items: center;
}

.dropdown__link {
    &:hover {
        .slider__dropdown {
        opacity: .9;
        left: rem(90px);
        }
    }
    
}

// ==========


.dropdown {
    width: rem(91px);
    height: rem(91px);
    margin-bottom: rem(25px);
    position: relative;

    &__link {
        cursor: pointer;
    }

    &__img {
        display: none;
        position: absolute;
        max-width: rem(350px);
        max-height: rem(400px);
        top: 0;
        left: rem(91px);
    }
    
    &__pic {
        margin-bottom: rem(25px);
    }

    @include tablets {
        display: none;
    }

    &__block {
        width: rem(273px);
        height: rem(294px);
        display: none;
        position: absolute;
        top: 0;
        left: rem(91px);
    }

    &__item {
        padding: 0 6%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(28px);
        color: black;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-content {
        display: flex;
        align-items: center;
    }

    &__pic {
        margin-right: rem(20px);

        &:hover ~.dropdown__img {
            display: block;
        }
    }
}


.slider__dropdown {
    color: #2f3234;
    position: absolute;
    left: rem(-9999px);
    top: 0;
    width: rem(270px);
    background: rgba(255, 255, 255, .93);
    border-radius: rem(5px);
    padding: rem(26px) rem(12px) rem(26px) rem(35px);
    transition: opacity .3s;
    opacity: 0;
  
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 50%;
      width: rem(30px);
      left: rem(-29px);
    }
  }
  
  .dropdown__table {
    width: 100%;
  }
  
  .dropdown__icon {
    width: rem(35px);
    height: rem(35px);
  }
  
  .dropdown__table-row {
    border-bottom: rem(5px) solid transparent;
  
    &:last-child {
      border-bottom: 0;
    }
  }
  
  .dropdown__text-container {
    padding-left: rem(10px);
  }
  
  .dropdown__table-cell {
    vertical-align: middle;
  }
  
  .dropdown__text {
    font-size: rem(16px);
    font-weight: bold;
  }
