.why {
    &::after {
        content: url('../images/triangle-decor.png');
        position: absolute;
        left: 10%;
        bottom: -1.0rem;        
    }

    &__header {
        align-self: center;

        @include phones {
        }
    }

    &__title {
        margin-bottom: 1.8rem;
        text-align: center;
    }    
    &__text {
        display: inline-block;
        margin-bottom: 9.2rem;
        text-align: center;

        @include tablets {
            padding: 0 1%;
        }
    }
}

.spec {
    display: flex;
    justify-content: space-between; 
    width: 100%;

    @include phones {
        flex-direction: column;
        justify-content: center;
    }

    &__image-wrapper {
        display: inline-block;
        width: rem(126px);
        height: rem(126px);
        position: relative;
        background: $grey;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: rem(24px);

        @include phones {
            margin-right: rem(12px);
            margin-bottom: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;    
        
        margin-right: 5%;

        &:last-child {
            margin-right: 0;
        }

        @include tablets {
            margin-right: 1%;

            &:last-child {
                margin-right: 0;
            }
        }
        
        @include phones {
            flex-direction: row;
            // margin-right: 0;
            align-items: center;
            margin-bottom: rem(30px);
            // justify-content: center;

        }
        
        // &::after {
        //     content: url(../images/dots.png);
        //     position: absolute;
        //     bottom: 77%;
        //     left: 100%;    
        // }
        // &:last-child::after {
        //     content: "";
        // }

        @include tablets {
            &::after {
                display: none;
            }
        }
    }    
    &__img-center {
        width: rem(56px);
        height: rem(60px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--first {
            width: rem(32px);
        }
    }
    
    &__title {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: .7rem;
        text-align: center;
        
        @include phones {
            text-align: start;
        }
    }    
    
    
    &__text {
        color: $grey-text;
        font-size: 1.6rem;
        text-align: center;
        
        @include tablets {
            // width: 80%;
        }
        
        @include phones {
            text-align: start;
        }
        
        // @include phones {
        //     font-size: rem(16px);
        //     text-align: left;
        //     margin-left: rem(60px);
        // }
    }
}