.why {
    &::after {
        content: url('../images/triangle-decor.png');
        position: absolute;
        left: 10%;
        bottom: -10px;        
    }

    &__header {
        align-self: center;
    }

    &__title {
        margin-bottom: 18px;
    }    
    &__text {
        display: inline-block;
        width: 590px;
        margin-bottom: 92px;
        text-align: center;
    }
}

.spec {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 25px;
        max-width: 276px;
        position: relative;        
        &::after {
            content: url(../images/dots.png);
            position: absolute;
            bottom: 195px;
            left: 240px;    
        }
        &:last-child::after {
            content: "";
        }
        &::before {
            content: "";
                display: block;
                width: 128px;
                height: 128px;
                border-radius: 50%;
                background: #F2F5F4;
                position: absolute;
                top: 14%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
        }
    }    
    &__img-center {
        margin-bottom: 54px;  
        &--first {
            margin-bottom: 61px;
        }   
    } 
    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 7px;
        text-align: center;
    }    
    &__text {
        color: $grey-text;
        font-size: 16px;
        text-align: center;
        max-width: 247px;
    }
}