
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');

@import url('./normalize.css');

@import '_media.scss';
@import '_var.scss';
@import '_base.scss';
@import '_fixed-menu.scss';
@import '_header.scss';
@import '_slider.scss';
@import '_hero.scss';
@import '_button.scss';
@import '_advantages.scss';
@import '_why.scss';
@import '_feedback.scss';
@import '_form.scss';
@import '_form-controls.scss';
@import '_hamburger.scss';
@import '_sprite.scss';